<!DOCTYPE html>

{% import "macros.html" as macros %}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<title>{% block title %}{{ config.title}}{% endblock title %}</title>

		<link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
	</head>
	<body>
		<nav>
			<ul>{{ macros::sidebar_section(section=get_section(path="_index.md")) }}</ul>
		</nav>
		<main>
			{% block content %}
			<h1>{{ config.title }}</h1>
			<p>{{ config.description }}</p>
			{% endblock content %}
		</main>
	</body>
</html>
